//@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~mdb-angular-ui-kit/assets/scss/mdb.scss';

$spotify-color: #1D8954;

.text-color-primary {
  color: $spotify-color;
}

.bg-spotify {
  background-color: $spotify-color !important;
}

.cursor-pointer {
  cursor: pointer;
}
